[Desktop Entry]
Actions=Store;Community;Library;Servers;Screenshots;News;Settings;BigPicture;Friends;
Categories=Network;FileTransfer;Game;
Comment[en_US]=Launch SteamOS mode
Comment=Launch SteamOS mode
DesktopNames=SteamOS mode
Encoding=UTF-8
Exec=/usr/bin/gamescope-session %U
GenericName[en_US]=Steam in OS mode
GenericName=Steam in OS mode
Icon=steam
MimeType=
Name[en_US]=SteamOS mode
Name=SteamOS mode
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
