[Unit]
Description=CoffeeLinux Self-Updater Service
After=network.target.target

[Service]
Type=oneshot
ExecStart=/opt/wallpaper-updater
ExecStart=/opt/coffee-injector
ExecStart=/opt/coffee-keeper

[Install]
WantedBy=multi-user.target
