[Unit]
Description=Fixes Gnome after updates
After=network.target.target

[Service]
Type=oneshot
ExecStart=/opt/coffee-updater

[Install]
WantedBy=multi-user.target
