[Desktop Entry]

Name=CoffeeLinux Iso Maker
Comment=Creates a CoffeeLinux Iso
Categories=System;
Icon=security-medium
Exec=/usr/local/bin/coffee-maker
Terminal=true
Type=Application
NoDisplay=false
