[Unit]
Description=CoffeeLinux Wallpaper Updater Service
After=network.target.target

[Service]
Type=oneshot
ExecStart=/opt/wallpaper-updater

[Install]
WantedBy=multi-user.target
