[Unit]
Description=Fixes Gnome after updates
After=network.target.target

[Service]
Type=oneshot
ExecStart=/opt/firstrun-reboot-starter

[Install]
WantedBy=multi-user.target
