[Desktop Entry]
Comment[en_US]=Sway SDDM Launcher
Comment=Sway SDDM Launcher
#Categories=Qt;System;
Exec=./sway
#Keywords=system;installer;
GenericName[en_US]=Sway SDDM Launcher
GenericName=Sway SDDM Launcher
Name[en_US]=Sway SDDM Launcher
Name=Sway SDDM Launcher
Path=/usr/bin
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
