[Desktop Entry]
Comment[en_US]=Invokes the coffeebrewer script
Comment=Invokes the coffeebrewer script
Categories=Qt;System;
Exec=su -c 'coffeebrewer2' root
Keywords=system;installer;
GenericName[en_US]=Installs CoffeeLinux to a PC (classic)
GenericName=Installs CoffeeLinux to a PC
Icon=/usr/share/icons/hicolor/scalable/apps/coffeeinstaller.svg
Name[en_US]=Install CoffeeLinux
Name=Install CoffeeLinux
Path=/usr/local/bin
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
