[Unit]
Description=CoffeeLinux Self-Updater Service
Wants=network-online.target
After=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/coffee-injector

[Install]
WantedBy=multi-user.target
