[Desktop Entry]
Comment[en_US]=Invokes the classic coffeebrewer script
Comment=Invokes the classic coffeebrewer script
Exec=su -c 'coffeebrewer-16' root
GenericName[en_US]=Installs KoffeeLinux to a PC (classic)
GenericName=Installs KoffeeLinux to a PC (classic)
Icon=/usr/share/icons/breeze-dark/apps/32/yast-sw_single.svg
MimeType=
Name[en_US]=Install KoffeeLinux (classic)
Name=Install KoffeeLinux (classic)
Path=/usr/local/bin
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
