[Desktop Entry]
Comment[en_US]=Invokes the KoffeeLinux GUI Installer
Comment=Invokes the KoffeeLinux GUI Installer
Exec=su -c 'pkexec calamares' root
GenericName[en_US]=Installs KoffeeLinux to a PC
GenericName=Installs KoffeeLinux to a PC
Icon=/usr/share/icons/breeze-dark/apps/32/yast-sw_single.svg
MimeType=
Name[en_US]=Install KoffeeLinux (calamares)
Name=Install KoffeeLinux(calamares)
Path=/opt/calamares/build
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
