[Desktop Entry]
Comment[en_US]=Invokes the Koffeebrewer GUI
Comment=Invokes the Koffeebrewer GUI
Categories=Qt;System;
Exec=sh -c "pkexec calamares"
Keywords=calamares;system;installer;
GenericName[en_US]=Installs KoffeeLinux to a PC (GUI)
GenericName=Installs KoffeeLinux to a PC (GUI)
Icon=/usr/share/icons/breeze-dark/apps/32/yast-sw_single.svg
Name[en_US]=Install KoffeeLinux (GUI)
Name=Install KoffeeLinux (GUI)
Path=
TryExec=calamares
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=

