[Desktop Entry]
Comment[en_US]=Invokes the coffeebrewer2 script
Comment=Invokes the coffeebrewer2 script
Categories=Qt;System;
Exec=su -c 'coffeebrewer2' root
Keywords=system;installer;
GenericName[en_US]=Installs CoffeeLinux (Custom) to a PC
GenericName=Installs CoffeeLinux (Custom) to a PC
Icon=/usr/share/icons/hicolor/scalable/apps/coffeeinstaller.svg
Name[en_US]=Install CoffeeLinux (Custom)
Name=Install CoffeeLinux (Custom)
Path=/usr/local/bin
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
