**/**__pycache__
SAFETY_LOCK
**/**old.*
**/**.img
**/**pwfile
**/**build
**/**dist
**/**.egg*
**/**.sh
!coffeebrewer/locales/locales_generator.sh
**/**.egg-info/
**/**build/
**/**src/
**/**pkg/
**/**dist/
**/**coffeebrewer.build/
**/**coffeebrewer-v*/
**/**.pkg.*.xz
**/**coffeebrewer-*.tar.gz
**/**.zst
**/**.network
**/**.target
**/**.qcow2
/test*.py
**/archiso
/guided.py
/install.log
venv
.venv
.idea/**
**/install.log
.DS_Store
**/cmd_history.txt
**/*.*~
/*.sig
/*.json
