[Unit]
Description=Finishes snapd installation and keeps snaps updated
Wants=network-online.target
After=network-online.target
Requires=network-online.target


[Service]
Type=oneshot
ExecStart=/opt/snapd-updater

[Install]
WantedBy=multi-user.target
